<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.chip.ninetyonetv" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="反编译测试" android:largeHeap="true" android:name="com.tv91.App" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <provider android:authorities="com.chip.ninetyonetv.file.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_path"/>
        </provider>
        <activity android:exported="true" android:name="com.tv91.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tv91.features.authentication.AuthActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tv91.features.movie.play.MoviePlayActivity" android:screenOrientation="landscape"/>
    </application>
</manifest>